* {
  margin: 0;
  padding: 0;
}

.body {
  position: relative;
}

header {
  height: 200px;
  background-color: rgb(241, 95, 95);
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
header h1 {
  font-size: 60px;
  color: white;
}
header h2 {
  font-size: 20px;
  color: white;
}
header nav ul {
  list-style-type: none;
}
header nav ul li a {
  text-decoration: none;
  color: white;
}

.historia {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 30px;
}
.historia .historia_texto {
  width: 400px;
}
.historia .historia_texto p {
  padding: 10px;
}
.historia .historia_carrusel {
  width: 400px;
}

.seccion_busqueda {
  height: 200px;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

#contenedorProductos {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contenedorProductos .tituloProducto {
  font-size: 70px;
}
#contenedorProductos .textoProducto {
  font-size: 30px;
  padding-top: 30px;
}
#contenedorProductos .tituloProducto:first-letter {
  text-transform: uppercase;
}
#contenedorProductos .producto {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contenedorProductos .precioProducto {
  padding: 20px;
  font-size: 30px;
}
#contenedorProductos .boton {
  background-color: lightblue;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  color: black;
  border: rgb(121, 208, 236) 2px solid;
  font-size: 20px;
}

#carrito {
  background-color: lightblue;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 300px;
  margin-bottom: 35px;
}
#carrito .itemCarrito {
  margin-left: 20px;
  font-size: 15pxs;
  font-weight: 700;
}
#carrito .itemCarrito2 {
  padding-left: 30px;
}
#carrito .itemCarrito3 {
  align-self: flex-end;
  padding-bottom: 30px;
}

#formulario {
  height: 400px;
  background-image: url(../img/IMG_7581.PNG);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-size: cover;
  color: black;
  margin-bottom: 35px;
}
#formulario .botonFormulario {
  width: 180px;
  background-color: black;
  border-radius: 5px;
  border: 1px solid black;
  color: white;
}

@media (max-width: 700px) and (min-width: 300px) {
  header {
    height: 250px;
    width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header h2 {
    text-align: center;
  }
  header nav ul {
    display: flex;
  }
  header nav ul li {
    padding-right: 15px;
  }
  .historia {
    height: 500px;
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vh;
  }
  .historia .historia_texto {
    width: 100vh;
    padding: 40px;
  }
  .historia .historia_carrusel {
    width: 500px;
  }
  .seccion_busqueda {
    width: 100vh;
    height: 200px;
  }
  #contenedorProductos {
    width: 100vh;
  }
  #carrito {
    width: 100vh;
  }
  #formulario {
    width: 100vh;
  }
  footer {
    width: 100vh;
  }
}
footer {
  color: black;
  background-color: rgb(241, 95, 95);
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
footer h4 {
  font-size: 20px;
  text-transform: uppercase;
}
footer div span {
  font-size: 25px;
}
footer p {
  text-align: center;
  margin: 0 10px;
}
footer .footerMenu {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}
footer .footerMenu li a {
  text-decoration: none;
  color: black;
  padding-left: 10px;
  font-weight: 30px;
}/*# sourceMappingURL=estilos.css.map */