#lateral{
    display: block;
    background-color: rgba(0, 0, 0, 0.9);
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;

        
}

.lateral{
    text-decoration: none;
    font-size: 40px;
    padding-right: 50px;
    margin-left: 12px;
    

}


#lateral:target{
    right: 0;
    transition: right 1s;
}
 
.aside_open{
    ul{
        list-style-type: none;
        display: flex;

        li a{
            text-decoration: none;
            font-size: 20px;
           
        }
    }
}

