#carrito{
    background-color: lightblue;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 300px;
    margin-bottom: 35px;
    

    .itemCarrito{
        
        margin-left: 20px;
        font-size: 15pxs;
        font-weight: 700;
    }

    .itemCarrito2{
        
        padding-left: 30px;
    }

    .itemCarrito3{
       
        align-self: flex-end;
        padding-bottom: 30px;
    }
}