footer{
    color: black;
    background-color: rgb(241, 95, 95);
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

       h4{
        font-size: 20px;
        text-transform: uppercase;
       }

       div span{
        font-size: 25px;
       }

       p{
        text-align: center;
        margin: 0 10px;
       }

       .footerMenu{
        display: flex;
        list-style-type: none;
        padding-left: 0;

            

            li a{
                text-decoration: none;
                color: black;
                padding-left: 10px;
                font-weight: 30px;
            }
        }
       
}
