#formulario{
    height: 400px;
    background-image: url(../img/IMG_7581.PNG);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-size: cover;
    color: black;
    margin-bottom: 35px;

    .botonFormulario{
        width: 180px;
        background-color:black;
        border-radius: 5px;
        border: 1px solid black;
        color: white;
    }
}

#mensaje{
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
 
}