#formulario{
    height: 400px;
background-image: url(../img/IMG_7581.PNG);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-position: center;
    color: white;
}