.nav{
    

    ul{
        list-style-type: none;
        display: flex;
        align-items: flex-start;
        width: 150px;
        justify-content: space-evenly;
        flex-direction: column;
        margin-bottom: 0;

       li a{
        text-decoration: none;
        padding-left: 2px;
       }
    }
}
